:root{
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);



    /* Graphic Design Text */
    --dark-desaturated-cyan: hsl(167, 40%, 24%);

    /* Photography Text */
    --dark-blue: hsl(198, 62%, 26%);

    /* Footer */
    --dark-moderate-cyan : hsl(168, 34%, 41%);
    
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* color: white; */
}

/* #container{
    margin: 0 auto;
} */

#top-container{
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    min-height: 100vh;
}

header{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
}

#pic-desc{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.small-card{
    height: 50vh;
    width: auto;
    /* width: 50%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.egg {
    background-image: url("images/desktop/image-transform.jpg");
}

.cup{
    background-image: url("images/desktop/image-stand-out.jpg");
}

.berries{
    background-image: url("images/desktop/image-graphic-design.jpg");
}

.orange{
    background-image: url("images/desktop/image-photography.jpg");
}

#testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pictures{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img.gallery{
    width: 25vw;
}

@media screen and (max-width:850px){

}